<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-game.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}slidepushmenu/css/component.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}game/css/wordtutor.css" />
{% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ STATIC_URL }}jquery/jquery-1.8.3.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}slidepushmenu/js/classie.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}game/js/wordtutor.js"></script>
{% block javascript%}{% endblock %}
</body>
</html>
