<div class="modal fade" id="record_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">记录</h4>
      </div>
      <div class="modal-body">
      <table class='my_table' style='padding-left:5%;'>
          <td width='50%' style='vertical-align:top;'>
              <h5>词汇</h5>
              <div id='cihui' style='padding-left:10%;'>
              <div>
          </td>
          <td>
              <h5>快捷键</h5>
              <div style='padding-left:10%;'>
                  <div>增加(Add)：a</div>
                  <div>设置(Set)：s</div>
                  <div>打乱(Confuse)：c</div>
                  <div>翻页(Paging)：p</div>
                  <div>记录(Record)：r</div>
                  <div>隐藏(Hide)：h</div>
              <div>
          </td>
      </table>
      </div>
    </div>
  </div>
</div>
